<nav>
    <div class="logo">
        <img src="/assets/images/logo.png" alt="logo">
        <h2>Wellness, Healing and Lifestyle</h2>
    </div>
    <div class="nav-links">
        <ul>
            <li>
                <a>WHL</a>
            </li>
            <li>
                <a [routerLink]="['/food']" routerLinkActive="active">Food</a>
            </li>
            <li *ngIf="authService.currentUser !== undefined && authService.currentUser.admin">
                <a [routerLink]="['/food/add-food']" routerLinkActive="active">Add
                    Food</a>
            </li>
            <li *ngIf="authService.loggedIn()">
                <a [routerLink]="['/my-menu']" routerLinkActive="active">My Menu</a>
            </li>
            <li>
                <a>Gifts</a>
            </li>
            <li>
                <a>Contact Us</a>
            </li>
            <li>
                <a *ngIf="!authService.loggedIn()" [routerLink]="['/user/login']">Login</a>
                <a *ngIf="authService.loggedIn()" [routerLink]="['/user/profile']">Welcome
                    {{authService.currentUser.nickname}}</a>
            </li>
        </ul>
    </div>
</nav>